{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site Web{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style_etu.css' %}">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- integration du fichier CSS de Bootstrap -->


       {% include 'dashboard/etudiant/header.html' %}

</head>

<body>

        {% block content %}
            <div class="container-fluid">
        <!-- Le contenu spécifique à chaque page -->
            </div>
        {% endblock %}
   <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Scripts spécifiques -->
{% block scripts %}
    <script>
    $(document).ready(function(){
        $("#toggleDivBtn").click(function (){
            $("toggleDiv").slideToggle(); //Affiche ou masque l'élement avec un effet glissant
        });
    });
    </script>
    <script>
    $(document).ready(function (){
        var tooltip = document.querySelector('#tooltip');
        var btn= document.querySelector('#tooltipBtn');
        //Crée un nouveau Popper pour gérer le positionnement

        var popperInstance = Popper._createPopper(btn,tooltip,{placement:'top',//Le tooltip s'affiche en haut du button
             });
        btn.addEventListener('mouseenter',function(){
            tooltip.style.display='block'; //Affiche le tooltip
            popperInstance.update(); //Met à jour le positionnement
        });
        btn.addEventListener('mouseleave',function (){
            tooltip.style.display = 'none'; //Cache le tooltip
        });
    });

    function updateTime() {
        const now = new Date();
        const options = {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            hour12: false
        };
        const dateTimeString = now.toLocaleDateString('fr-FR', options);
        document.getElementById('current-time').textContent = dateTimeString;
    }

    setInterval(updateTime, 1000); // Met à jour toutes les secondes
    updateTime(); // Appel initial pour afficher immédiatement l'heure


    </script>
<!-- Vous pouvez insérer ici le script jQuery pour activer les popovers -->
{% endblock %}
</body>

</html>
