{% load static %}
{% load bootstrap5 %}

<header class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home_etu' %}"><i class="fa-solid fa-house"></i> Acceuil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mescours' %}"><i class="fa-solid fa-graduation-cap"></i> Cours</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'devoirs' %}"><i class="fa-solid fa-pen"></i> Devoirs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'annonce' %}"><i class="fa-solid fa-bullhorn"></i> Annonces</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'webinaires_etudiant' %}"><i class="fa-solid fa-video"></i> Webinaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'update_profile' %}">
                                <i class="fas fa-user-circle fa-fw text-primary"></i>
                                Hello, {{ user.username }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'chat'%}">
                                        <i class="fas fa-comments"></i> </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log_out' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>

</header>
